body {
     background-color: purple; 
    /* background-image: url("assets\\background\\pitou.jpeg"); */
    background-repeat: no-repeat;
    /*background-attachment: scroll;*/
    /*background-size: 1920px 1080px;*/
}
div {
	width: 150px;
	height: 150px;
	overflow: scroll;
}
.nav_bar {
	overflow: visible;
	position: fixed;
	height: 100%;
	width: 100%;
	margin: auto;

}
.bottom_scroll {
	overflow: visible;	
	position: fixed;
	top: 300px;
	left: 700px;
	height: 100%;
	width: 100%;
	margin: auto;
}
div2 {
	position: fixed;
	left:700px;
	top:20px;
}
div3 { /* Menu Navigation */
	position:fixed;
	top:-25px;
	width: 100%;
	font-size: 12px;
}

.image_file {
	position:absolute;
	display:none;
}

#nav{
	list-style:none;
	margin-bottom:10px;
	float:left;
}
#nav li{
	float:left;
	position:relative;
  
}
#nav a {
	display:block;
	padding:5px;
	color:#FFFFFF;
	text-decoration:none;
}
#nav a:hover{  
	color:#FFFFFF;
}

/*--- DROPDOWN ---*/
#nav ul {
	background:#df66ff;
	list-style:none;
	position:absolute;
	display: none;
}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
}
#nav ul a{
  left: -10px;
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{  
  display: inline-block;
  top: 10px;
}
/* Background Color && Persistant State */
#nav li:hover a{
	background:#df66ff;
	/*text-decoration:underline;*/
}
#nav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
  
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#33333;
}

