body {
     background-color: purple; 
    /* background-image: url("assets\\background\\pitou.jpeg"); */
    background-repeat: no-repeat;
    /*background-attachment: scroll;*/
    /*background-size: 1920px 1080px;*/
}
div {
	width: 150px;
	height: 150px;
	overflow: scroll;
}
.nav_bar {
	overflow: visible;
	position: fixed;
	height: 100%;
	width: 100%;
	margin: auto;

}
.bottom_scroll {
	overflow: visible;	
	position: fixed;
	top: 300px;
	left: 700px;
	height: 100%;
	width: 100%;
	margin: auto;
}
div2 {
	position: fixed;
	left:700px;
	top:20px;
}
div3 { /* Menu Navigation */
	position:fixed;
	top:-25px;
	width: 100%;
	font-size: 12px;
}

.image_file {
	position:absolute;
	display:none;
}

nav {
	margin: -30px auto; 
	text-align: center;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {	
    width: 100%;
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: #fff;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; padding: 25px 40px;
			color: #757575; text-decoration: none;
		}
			
		
	nav ul ul {
		width: 20%;
		background: #FF00FF; border-radius: 0px; padding: 0;
		position: absolute; top: 76%;
	}
		nav ul ul li {
			float: none; 
			/* border-top: 1px solid #FF00FF; */
			/* border-bottom: 1px solid #FF00FF; */
			position: relative; 
		}
			nav ul ul li a {
				padding: 15px 40px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #4b545f;
				}
		
	nav ul ul ul {
	  width: 100%;
		position: absolute; left: 100%; top:0;
	}
		
