body {
     background-color: purple; 
    /* background-image: url("assets\\background\\pitou.jpeg"); */
    background-repeat: no-repeat;
    /*background-attachment: scroll;*/
    /*background-size: 1920px 1080px;*/
}
div {
	width: 150px;
	height: 150px;
	overflow: scroll;
}
.nav_bar {
	overflow: visible;
	position: fixed;
	height: 100%;
	width: 100%;
	margin: auto;

}
.bottom_scroll {
	overflow: visible;	
	position: fixed;
	top: 300px;
	left: 700px;
	height: 100%;
	width: 100%;
	margin: auto;
}
div2 {
	position: fixed;
	left:700px;
	top:20px;
}
div3 { /* Menu Navigation */
	position:fixed;
	top:-25px;
	width: 100%;
	font-size: 12px;
}

.image_file {
	position:absolute;
	display:none;
}