footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: @purple-darker;
    color: white;
    img {
        display: block;
        max-width: 150px;
        margin: auto;
    }

    h4 {
        padding-top: 15px;
        text-align: center;
        margin: auto;
    }

    #footer-stent {
        margin: auto;
        max-width: 115px;
        display: block;
        padding-top: 5px;
    }
}